<style>
 .c3-region.regionGreen {
   fill: green;
 }
.c3-region.regionRed {
  fill: red;
}
/* .c3-line { */
/*     stroke-width: 2.7px; */
/* } */

	.country:hover{
		stroke: #6a2e2e !important;
		stroke-width: 1px;
	}
	
	.tooltip span {
    display:none;
	}
	
	.tooltip:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
	}

	.country{
		stroke: #555;
	}

	.text{
		font-size:10px;
		text-transform:capitalize;
	}

	#container {
		height:100%;
		overflow:hidden;
		background: #F0F8FF;
	}

	.hidden {
		display: none;
	}
	
	div.tooltip {
		color: #222;
		background: #fff;
		padding: .5em;
		text-shadow: #f5f5f5 0 1px 0;
		border-radius: 2px;
		box-shadow: 0px 0px 2px 0px #a6a6a6;
		opacity: 0.9;
		position: absolute;
	}

	.graticule {
		fill: none;
		stroke: #bbb;
		stroke-width: .5px;
		stroke-opacity: .5;
	}

	.equator {
		stroke: #ccc;
		stroke-width: 1px;
	}
	
	
	
.rule {
    display: table;
}

.rule>div {
    display: table-cell;
    white-space:nowrap;
}

.line>div {
    border-bottom: 1px solid silver;
    height: 1px;
}

.words {
    padding: 0 5px;
}

.line {
    width: 50%;
    vertical-align: middle;
}
</style>


<div id="divAbicsData" class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default panel-container">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-globe"></i>
						<b>Acordos Comerciais</b>
					</h3>
			        <button type="button" class="btn btn-primary btn-sm pull-right" style="margin-top: -24px;"
						title="Tutoriais" ng-click="$parent.abrirModalInformacoes()">
						<span class="fa fa-info-circle" aria-hidden="true"></span>
					</button>
					
					<button type="button" class="btn btn-warning btn-sm pull-right" style="margin-top: -24px;"
						title="Voltar" ng-click="voltarTemplate()">Voltar
						<span class="fa fa-info-circle" aria-hidden="true"></span>
					</button>
					
<!-- 					<button type="button" class="btn btn-success btn-sm pull-right" style="margin-top: -24px;" -->
<!-- 						title="Brasil" ng-click="abicsDataRelatorioBrasil()">Brasil -->
<!-- 						<span class="fa fa-info-circle" aria-hidden="true"></span> -->
<!-- 					</button> -->
				</div>
				
				<div class="panel-body">
					<div class="row" style="padding-left: 3px">
						<div class="col-md-2 text-center">
							<div class="row" style="border-right: 1px solid #ddd; padding-right: 3px">
								<form name="formAcordosComerciais" novalidate>
									<label>Acordos Comerciais</label> 
									<select class="form-control" ng-model="dataAcordoComercial" required>
										<option value="" disabled>-- Selecione uma data --</option>
										<option ng-repeat="acordo in dataAcordosComerciaisList" value="{{acordo}}">{{acordo}}</option>
									</select>
									<br>
									<select class="form-control" ng-model="paisSelecionadoId" required>
										<option value="" disabled>-- Selecione um país --</option>
										<option ng-repeat="pais in paisList" value="{{pais.id}}">{{pais.nome}}</option>
									</select>
									<br>
									<button class="btn btn-primary btn-width pull-left" ng-disabled="formAcordosComerciais.$invalid"
						                    ng-click="downloadPlanilhaAcordoComercial()" >Download
							        </button>
				                    <button class="btn btn-success btn-width pull-right" ng-disabled="formAcordosComerciais.$invalid"
						                    ng-click="consultar()">Consultar
							        </button>
						        </form>
							</div>
						
<!-- 							<label>Tipos de Mercado</label>  -->
<!-- 							<div class="top-ten"> -->
<!-- 								<label style="background-color:#90D4BD">Projeto APEX</label> -->
<!-- 								<label style="background-color:#C390D4">Mercado Local</label> -->
<!-- 								<label style="background-color:#F54E51">Concorrente</label> -->
<!-- 								<label style="background-color:#4E4EF5">Grande Importador</label> -->
<!-- 							</div> -->
							
						</div>
						<div class="col-md-10">
							<label> Legenda Acordos Comerciais</label>
								<div id="tabelaAcordos" class="table-responsive">
	                				<table class="table table-striped" style="text-align: center;">
		                    			<thead class="th-color">
		                    			<tr>
		                        			<th class="text-center">Acordo</th>
	                        				<th class="text-center">Andamento</th>
	<!-- 			                        		<th class="text-center">Tipo Mercado</th> -->
		                        			<th class="text-center">Tarifa Brasil</th>
		                        			<th class="text-center">Tarifa Geral</th>
					                        <th class="text-center">Importações</th>
					                        <th class="text-center" title="Market share Brasil">Market share Brasil</th>
					                        <th class="text-center" title="Market share do país em acordo">Market share Geral</th>
	                        			</tr>
	                    				</thead>
	                    				<tbody>
				                        <tr ng-repeat="rel in relPaisAcordoComercialList track by $index">
				                        	<td class="text-center">{{rel.acordoNegociacao}}</td>
				                        	<td class="text-center" title="{{rel.andamento}}">{{rel.andamento | limitTo: 50}}<div ng-show="rel.andamento.length > 50">[...]</div></td>
		<!-- 		                        	<td class="text-center">{{rel.tipoMercado}}</td> -->
				                        	<td class="text-center">{{rel.tarifaAplicadaBrasil}}</td>
				                        	<td class="text-center">{{rel.tarifaGeral}}</td>
				                        	<td class="text-center">{{rel.importacaoCafeSoluvel}}</td>
				                        	<td class="text-center">{{rel.marketShareBrasil}}</td>
				                        	<td class="text-center">{{rel.marketSharePais}}</td>
				                        </tr>
										</tbody>
	               					</table>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 					<div id="legendaTooltip" class="tooltip" style="display:none;"></div> -->
<!-- 					<div class="top-ten"> -->
<!-- 						<div class="row"> -->
<!-- 							<div id="export"></div> -->
<!-- 						</div> -->
<!-- 						<div class="row"> -->
<!-- 							<div id="import"></div> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 						<div class="col-md-9"> -->
<!-- 							<div id="divD3WordMap"></div> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 					<div class="row"> -->
<!-- 						<label id="labelPaisesSelecionados"></label> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 	</div> -->
<!-- </div> -->

<!-- 	<div class="row"> -->
<!-- 		<div class="col-md-12"> -->
<!-- 			<div class="panel panel-default"> -->
<!-- 				<div class="panel-heading"> -->
<!-- 					<h3 class="panel-title" id="legenda"><i class="fa fa-align-left"></i><b> Legenda Acordos Comerciais</b></h3> -->
<!-- 					<div class="pull-right"> -->
<!-- 						<p style="margin-top: -20px;"> -->
<!-- <!-- 							<span class="badge" style="background-color: #5f46aa">x</span> -->
<!-- 						</p> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 				<div class="panel-body"> -->
<!-- 					<div id="tabelaAcordos" class="table-responsive"> -->
<!-- 		                <table class="table table-striped" style="text-align: center;"> -->
<!-- 		                    <thead class="th-color"> -->
<!-- 		                    	<tr> -->
<!-- 			                        <th class="text-center">Acordo</th> -->
<!-- 			                        <th class="text-center">Andamento</th> -->
<!-- <!-- 			                        <th class="text-center">Tipo Mercado</th> -->
<!-- 			                        <th class="text-center">Tarifa Brasil</th> -->
<!-- 			                        <th class="text-center">Tarifa Geral</th> -->
<!-- 			                        <th class="text-center">Importações</th> -->
<!-- 			                        <th class="text-center" title="Market share Brasil">Market share Brasil</th> -->
<!-- 			                        <th class="text-center" title="Market share do país em acordo">Market share Geral</th> -->
<!-- 		                        </tr> -->
<!-- 		                    </thead> -->
<!-- 		                    <tbody> -->
<!-- 		                        <tr ng-repeat="rel in relPaisAcordoComercialList track by $index"> -->
<!-- 		                        	<td class="text-center">{{rel.acordoNegociacao}}</td> -->
<!-- 		                        	<td class="text-center" title="{{rel.andamento}}">{{rel.andamento | limitTo: 50}}<b ng-show="rel.andamento.length > 50">[...]</b></td> -->
<!-- <!-- 		                        	<td class="text-center">{{rel.tipoMercado}}</td> -->
<!-- 		                        	<td class="text-center">{{rel.tarifaAplicadaBrasil}}</td> -->
<!-- 		                        	<td class="text-center">{{rel.tarifaGeral}}</td> -->
<!-- 		                        	<td class="text-center">{{rel.importacaoCafeSoluvel}}</td> -->
<!-- 		                        	<td class="text-center">{{rel.marketShareBrasil}}</td> -->
<!-- 		                        	<td class="text-center">{{rel.marketSharePais}}</td> -->
<!-- 		                        </tr> -->
<!-- 		                    </tbody> -->
<!-- 		                </table> -->
<!-- 					</div> -->
<!-- <!-- 					<div id="legendaTooltip" class="tooltip" style="display:none;"></div> -->
<!-- <!-- 					<div class="top-ten"> -->
<!-- <!-- 						<div class="row"> -->
<!-- <!-- 							<div id="export"></div> -->
<!-- <!-- 						</div> -->
<!-- <!-- 						<div class="row"> -->
<!-- <!-- 							<div id="import"></div> -->
<!-- <!-- 						</div> -->
<!-- <!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->


<!-- </div> -->
