<div class="message-alerta">
   	<div directive-alerta-sistema-template></div>
</div>
<div class="container-fluid">
	<div id="divCompetitividade" class="row">
    	<div class="col-md-10 col-md-offset-1">
			<h3>
				<span class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></span>Competitividade
			</h3>
			<div class="row">
	        	
<!-- 				<select ng-model="produto" required> -->
<!-- 	            	<option value="cafe soluvel" selected>cafe soluvel</option> -->
<!-- 	             	<option value="cafe verde">cafe verde</option> -->
<!-- 	             	<option value="cafe torrado e moido" >cafe torrado e moido</option> -->
<!-- 	             	<option value="cafe torrado">cafe torrado</option> -->
<!-- 	        	</select> -->
	        	
<!-- 	        	<input type="submit" class="btn btn-success" value="Filtrar" title="Filtrar"  -->
<!--  					ng-click="filtrar()" /> -->
 					
			</div>
			<br>
			
			<div class="row">
				<div class="col-md-12">
					<div id="divGraficoCoffeeNetweightImport" class="cont-div">
			        	<div class="div-title text-left">
			               <span>Importação Netweight</span>
			        	</div>
			        	
			        	<div class="row none-border">
							<div id="graficoCoffeeNetweightImport"></div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div id="divGraficoCoffeeNetweightExport" class="cont-div">
			        	<div class="div-title text-left">
			               <span>Importação Netweight</span>
			        	</div>
			        	
			        	<div class="row none-border">
							<div id="graficoCoffeeNetweightExport"></div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Grafico variação Câmbio -->
<!-- 			<div class="row"> -->
<!-- 		    	<div class="col-md-10 col-md-offset-1"> -->
<!-- 					<div id="divGraficoOIC"> -->
<!-- 	               		<h5>Gráfico OIC  (MEDIDA: saca 60kg)</h5> -->
<!-- 			        	<div> -->
<!-- 							<div id="graficoOIC"></div> -->
<!-- 						</div> -->
<!-- 		        	</div> -->
<!-- 					<div id="divGraficoCOMTRADE"> -->
<!-- 	               		<h5>Gráfico COMTRADE  (MEDIDA: kg)</h5> -->
<!-- 			        	<div> -->
<!-- 							<div id="graficoCOMTRADE"></div> -->
<!-- 						</div> -->
<!-- 		        	</div> -->
<!-- 		        </div> -->
<!-- 			</div> -->
		</div>
	</div>
</div>