<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default panel-container">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-newspaper-o"></i> Fontes e Metodologia</h3>
                    <button type="button" class="btn btn-primary btn-sm pull-right" style="margin-top: -24px;"
						title="Tutoriais" ng-click="$parent.abrirModalInformacoes()">
						<span class="fa fa-info-circle" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-warning btn-sm pull-right" style="margin-top: -24px;"
						title="Voltar" ng-click="voltarTemplate()">Voltar
						<span class="fa fa-info-circle" aria-hidden="true"></span>
					</button>
                </div>
                <div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<div class="media">
								<div class="media-left media-middle">
									<a href="https://comtrade.un.org/" target="_blank">
										<img class="media-object" src="assets/images/fontes/comtrade.png" alt="Comtrade">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading">Comtrade</h4>
									<p><b>Descrição:</b> The Statistics Division is committed to the advancement of the global statistical system. We compile and disseminate global statistical information, develop standards and norms for statistical activities, and support countries’ efforts to strengthen their national statistical systems. We facilitate the coordination of international statistical activities and support the functioning of the United Nations Statistical Commission as the apex entity of the global statistical system.</p>
									<p>
										Fonte: <a href="https://comtrade.un.org/" target="_blank">https://comtrade.un.org/</a> <br/>
										Fonte dos dados: <a href="https://comtrade.un.org/data" target="_blank">https://comtrade.un.org/data</a>
									</p>
								</div>
							</div>
							<hr>
							<div class="media">
								<div class="media-left media-middle">
									<a href="http://www.ico.org/" target="_blank">
										<img class="media-object" src="assets/images/fontes/ico.png" alt="ICO">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading">Internation Coffee Organization</h4>
									<p><b>Descrição:</b> The International Coffee Organization (ICO) is the main intergovernmental organization for coffee, bringing together exporting and importing Governments to tackle the challenges facing the world coffee sector through international cooperation. Its Member Governments represent 98% of world coffee production and 83% of world consumption.</p>
									<p>
										Fonte: <a href="http://www.ico.org/" target="_blank">hhttp://www.ico.org/</a> <br/>
										Fonte dos dados: <a href="http://www.ico.org/new_historical.asp?section=Statistics" target="_blank">http://www.ico.org/new_historical.asp?section=Statistics</a> <br/>
									</p>
								</div>
							</div>
							<hr>
							<div class="media">
								<div class="media-left media-middle">
									<a href="http://www.usda.gov/wps/portal/usda/usdahome" target="_blank">
										<img class="media-object" src="assets/images/fontes/usda.png" alt="USDA">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading">USDA</h4>
									<p><b>Descrição:</b> We provide leadership on food, agriculture, natural resources, rural development, nutrition, and related issues based on public policy, the best available science, and effective management.

									We have a vision to provide economic opportunity through innovation, helping rural America to thrive; to promote agriculture production that better nourishes Americans while also helping feed others throughout the world; and to preserve our Nation's natural resources through conservation, restored forests, improved watersheds, and healthy private working lands.</p>
									<p>
										Fonte: <a href="http://www.usda.gov/wps/portal/usda/usdahome" target="_blank">http://www.usda.gov/wps/portal/usda/usdahome</a> <br/>
										Fonte dos dados: <a href="https://apps.fas.usda.gov/psdonline/psdquery.aspx" target="_blank">https://apps.fas.usda.gov/psdonline/psdquery.aspx</a>
									</p>
								</div>
							</div>
							<hr>
							<div class="media">
								<div class="media-left media-middle">
									<a href="http://www.abics.com.br/" target="_blank">
										<img class="media-object" src="assets/images/fontes/abics.png" alt="Abics">
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading">Abics</h4>
									<p><b>Descrição:</b> Fundada em 1972, a Associação Brasileira da Indústria de Café Solúvel – ABICS é a representante institucional desse setor industrial no Brasil.</p>
									<p>
										Fonte: <a href="http://www.abics.com.br/" target="_blank">http://www.abics.com.br/</a> <br/>
										Fonte dos dados: <a href="http://www.abics.com.br/" target="_blank">http://www.abics.com.br/</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>