<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default" style="margin-top: 5%;">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-cutlery"></i> Informações Nutricionais</h3>
                    <button type="button" class="btn btn-primary btn-sm pull-right" style="margin-top: -24px;"
						title="Informações" ng-click="$parent.abrirModalInformacoes()">
						<span class="fa fa-info-circle" aria-hidden="true"></span>
					</button>
                </div>
            	<div class="panel-body">
            		<div class="row">
            			<div class="col-md-12">
            				<div class="panel panel-default">
            					<div class="panel-heading">
            						Diferença nutricional entre o café tradicional Torrado e Moído e o café solúvel
            					</div>
            					<div class="panel-body">
            						<div class="table-responsive">
            							<table class="table table-bordered table-striped">
											<thead>
												<tr>
													<td></td>
													<td><b>Café Torrado e Moído</b></td>
					           						<td><b>Café Solúvel</b></td>
												</tr>
					           					<tr>
					           						<td><b>Determinação</b></td>
					           						<td><b>Resultado</b></td>
					           						<td><b>Resultado</b></td>
				           						</tr>
				         					</thead>
				         					<tbody>
				         						<tr>
													<td>Valor energético por cálculo</td>
													<td>227 kcal/100g</td>
													<td>278 kcal/100g</td>
				         						</tr>
				         						<tr>
				         							<td>Carboidratos por diferença</td>
				         							<td>14,3 g/100g</td>
				         							<td>49,1 g/100g</td>
				         						</tr>
				         						<tr>
				         							<td>Proteína</td>
				         							<td>16,3 g/100g</td>
				         							<td>19,7 g/100g</td>
				         						</tr>
				         						<tr>
				         							<td>Gordura</td>
				         							<td>11,6 g/100g</td>
				         							<td>0,3 g/100g</td>
				         						</tr>
				         						<tr>
				         							<td>Gordura saturada</td>
				         							<td>5,0 g/100g</td>
				         							<td>menor que 0,2 g/100g</td>
				         						</tr>
				         						<tr>
				         							<td>Gordura trans</td>
				         							<td>menor que 0,1 g/100g</td>
				         							<td>menor que 0,2 g/100g</td>
				         						</tr>
				         						<tr>
				         							<td>Fibra alimentar total</td>
				         							<td>49,7 g/100g</td>
				         							<td>19,6 g/100g</td>
				         						</tr>
				         						<tr>
				         							<td>Sódio</td>
				         							<td>49,5 mg/100g</td>
				         							<td>95 mg/100g</td>
				         						</tr>
				         					</tbody>
										</table>
										<p class="text-center">
		 									<b>IMPORTANTE:</b> Os resultados acima têm validade apenas para as amostras analisadas nas condições específicas, não sendo extensivo a quaisquer lotes.
		 								</p>
            						</div>
            					</div>
            				</div>
            			</div>
                	</div>
                	<div class="row">
                		<div class="col-md-12">
                			<div class="panel panel-default">
                				<div class="panel-body">
                					<p>
                						Vale a pena ressaltar que as diferenças encontradas nos itens acima estão relacionadas ao processo de produção de cada produto. No caso do café torrado e moído, o processo envolve a torra e granulação dos grãos. Já no solúvel temos as mesmas duas etapas, seguidas das fases de extração, concentração e secagem (apenas para sua referência, segue em anexo, um breve resumo do nosso processo de café solúvel).
                					</p>
                				</div>
                			</div>
                		</div>
                	</div>
                	<div class="row">
                		<div class="col-md-12">
                			<div class="panel panel-default">
                				<div class="panel-body">
									<p>
										De qualquer maneira, favor notar que:
									</p>
									<p>
										<b>Gordura, gordura saturada e trans:</b> apresentam-se superiores no torrado e moído uma vez que o processo de extração desse produto não é suficiente para  extrair as moléculas de lipídios. E essa permanece na borra do café no filtro;
									</p>
									<p>
										<b>Fibra alimentar total:</b> apresenta-se superior no torrado e moído uma vez que o processo de extração também não é suficiente. Grande parte das fibras totais são formadas por moléculas de celulose e lignina, as quais permanecem na borra do café no filtro;
									</p>
									<p>
										<b>Sódio:</b> apresenta-se superior no café solúvel uma vez que temos duas fontes de sódio no processo: o café torrado e a água utilizada na extração. O sódio não é evaporado no processo de café solúvel, ao contrário, permanece no produto final.
									</p>
                				</div>
                			</div>
                		</div>
                	</div>
                </div>
            </div>
        </div>
    </div>
</div>