<div class="container-fluid">
	<div class="row">
		<div
			class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
			<h1 style="margin: 12% 0 5% 0">
				ABICS <small>Associação Brasileira da Indústria de Café
					Solúvel</small>
			</h1>
			<p>A Associação Brasileira da Indústria de café Solúvel – ABICS
				– foi instituída em 1972, reunindo toda a indústria nacional do
				produto, que contava então com 11 empresas associadas.</p>
			<p>Durante a época da intervenção estatal na economia cafeeira,
				através da ação do Instituto Brasileiro do Café – IBC –, a ABICS
				funcionou como o elo de ligação entre o estamento burocrático
				governamental e o setor privado.</p>
			<p>Com a mudança na economia brasileira, a extinção do IBC e a
				menor intervenção do Estado no funcionamento do mercado cafeeiro,
				houve a necessidade de repensar o papel e a atuação das Associações
				de Classe, na maneira como deviam atuar na sociedade e se
				relacionar com o Estado.</p>
			<p>Tanto as empresas como suas associações tiveram que
				redirecionar o comportamento e o diálogo com a sociedade e o
				Estado, tendo menos a visão de curtíssimo prazo que caracterizou o
				relacionamento anterior e muito mais um papel “orientador” e do
				exercício de pressão legítima para que o Estado realizasse ações de
				alavancagem da atividade econômica.</p>
			<p>A maior motivação para a implantação da Indústria no Brasil
				foi a existência de matéria-prima em abundância e a forte demanda
				pelo produto no exterior.</p>
			<p>Existia na ocasião, um volume relevante de café que podia
				encontrar colocação no mercado como solúvel.</p>
			<p>Assim, a Indústria Brasileira começou utilizando intensamente
				essa fonte de abastecimento composta por cafés arábicas, enquanto a
				indústria localizada no exterior usava preferencialmente o robusta.</p>

			<h2>Importância na conquista de novos mercados</h2>
			<img class="img-responsive img-rounded" alt="Café solúvel"
				src="/assets/images/cafe-soluvel.jpg">
			<p>A parcela da população mundial que não consome café consome
				chá. E essa parcela é quantitativamente relevante, correspondendo a
				2/3 da população mundial.</p>
			<p>O consumo de cafés nesses mercados é melhor introduzido
				através do café solúvel. Isso porque a forma de preparo é a mesma
				do chá, o que muda é o sabor final do preparo.</p>
			<p>Muda-se o consumo sem violentar hábitos arraigados do
				consumidor. Atualmente os pesquisadores de mercado estão
				verificando que o aumento de consumo de café tem ocorrido devido ao
				aumento de consumo de café solúvel nesses mercados que agora estão
				conhecendo o novo produto.</p>
			<p>As taxas de crescimento do consumo têm sido maiores nesses
				países do que nos mercados tradicionais, já habituados ao consumo
				de café, que já estão na fase de procurar defeitos e aspectos
				nocivos na bebida, motivo pelo qual se investe em pesquisas médicas
				para se provar as vantagens para a saúde no consumo de um produto
				natural, sem conservantes ou passagem por processos químicos que
				deixam resíduos.</p>

			<h2>Consumo no Brasil</h2>
			<p>Há também atualmente forte expansão do consumo de café no
				mercado interno. O solúvel tem exibido impressionantes marcas.</p>
			<p>Esse fenômeno do mercado brasileiro também é observado nos
				principais mercados internacionais, estimando-se que, em 2015,
				cerca de 52% do consumo mundial ocorra sob a forma de solúvel.</p>
			<p>Particularmente, no caso do Brasil, o aumento da demanda pelo
				solúvel decorre da crescente preferência pelas misturas para o
				preparo do cappuccino e da expansão das “vending machines” de
				bebidas à base de café em ampla gama de estabelecimentos ligados ao
				ramo da alimentação.</p>
		</div>
	</div>
</div>